@import "tailwindcss";
html, body, #root {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

img,
iframe {
  max-width: 100%;
}
